name: Build
on:
  workflow_dispatch: {}
  pull_request:
    branches:
      - main
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
jobs:
  build:
    name: Build and Test (Xcode ${{ matrix.xcode }})
    runs-on: macos-26
    continue-on-error: true
    strategy:
      matrix:
        include:
          - xcode: 26.2
            destination: iPhone 17 Pro
            os: 26.2
    env:
      DEVELOPER_DIR: /Applications/Xcode_${{ matrix.xcode }}.app/Contents/Developer    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Check for changed files
        uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            src:
              - '.github/workflows/build.yml'
              - 'Sources/**'
      - name: Build
        if: steps.changes.outputs.src == 'true'
        run: |
          set -o pipefail &&\
          xcodebuild build\
            -scheme SFSymbols\
            -sdk iphonesimulator\
            -destination "platform=iOS Simulator,name=${{ matrix.destination }},OS=${{ matrix.os }}"\
          | xcbeautify --renderer github-actions
